*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #000000 !important;
    color: #fff !important;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/sideimage.png);
    background-size: cover;
    background-size: 45%; /* Adjust the percentage to make the image smaller */
    background-position: calc(100% - 30px) center; /* Adjust the offset */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}
.container{
    padding: 20px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.logo{
    width: 50px;
}

.social-logos{
    margin-top: 10px;
}

.fab{
    color: #a5a5a5 !important;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: floralwhite;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20%;
}
.header-text p span{
    margin-top: 20px;
    color: #ff004f;
}

/* Keyframes for cursor animation */
@keyframes cursor-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Style for the cursor */
.cursor {
    animation: cursor-blink 1s infinite; /* Apply animation */
}



/* About */

#about{
    padding: 20px 0px;
}
/* .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */
.profile {
    width: 400px;
    height: 400px;
}

.about .container{
   
        display: flex;
        align-items: center; /* Vertically center the content */
 
    
}
.vertical-line {
    /* display: flex; */
    
    align-items: center; 
    width: 1px; /* Width of the vertical line */
    height: 100%; /* Height of the vertical line */
    background-color: #ffffff; /* Color of the vertical line */
    margin: 0 20px; /* Adjust the margin as needed */
   
}

/* About-title */
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    color: #b54769;
    margin-top: 0px 0px;


}
.content{
    padding-left: 0px;
}
.tab-contents ul li span{
    color: #fff;
    font-size: 16px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* Services */

#services{
    padding: 20px 0;
}

.sub-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-hr{
   color: #ff004f;
   height:13px;
   width: 40%;
   align-items: center;
   justify-content: center;
   
}
.hr-container{
    display: flex;
    align-items: center;
   justify-content: center;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 20px;
}
.services-list div{
    background: #262626;
    padding: 20px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 40px;
    margin-bottom: 30px;
}
.services-list div a{
    font-size: 15px;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/* Portfolio */

#portfolio{
    padding: 50px, 0;
}

.work-list{

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    /* width: 300px;
    height: 300px; */
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ffcadb);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transform: height 0.5s;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius:50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

.info{
    display: flex;
    align-items: center;
   justify-content: center;
}


.social-icons a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
}

.bottom{
    display: block !important;
    margin: 0px auto !important;
    width: fit-content !important;
    border: 1px solid #ff004f !important;
    padding: 14px 50px !important;
    border-radius: 6px !important;
    text-decoration: none !important;
    color: #fff !important;
}
button{
    display: block !important;
    margin: 0px auto !important;
    width: fit-content !important;
    border: 1px solid #ff004f !important;
    padding: 14px 50px !important;
    border-radius: 6px !important;
    text-decoration: none !important;
    color: #fff !important;
}

form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
    color: #fff;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0px;
    background: #262626;
    font-weight: 400;
    margin-top: 10px;
}

/* CSS for Small screen */

nav .fa{
    display: none;
}

@media only screen and (max-width: 600px) {
    #header {
        background-image: url(images/sideimage.png);
        background-position: center; /* Center the background image horizontally */
        background-repeat: no-repeat; /* Prevent the background image from repeating */
        background-size: contain; /* Make the background image fit within the container */
    }
    .header-text {
        margin-top: 130%;
        font-size: 16px;
    }
    .header-text h1 {
        font-size: 30px;
    }
    nav .fa{
        display: block;
        font-size: 25px;

    }
    nav ul{
        background-color: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 110vh;
        padding: 30px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .profile{
        height: 300px;
        width: 300px;
    }
    .sub-title{
        margin-top: 20px;
    }

}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}

